.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 16px;

  /* Custom scrollbar styling */
  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
      
      &:hover {
          background: #555;
      }
  }
}

.forgot-password {
  width: 100%;
  text-align: center;

  .link {
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
  }
}

.submit-btn {
  height: 50px;
  margin-top: 40px;
}

.toast-success {
  background-color: #43a047;
  color: white;
}

.toast-failed {
  background-color: #e53935;
  color: white;
}
